.CirclePulse {
  animation: animation-pulse forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  opacity: 0.7;
  position: absolute;
  transform: scale(0);
}

@keyframes animation-pulse {
  70% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}
