@import './button.scss';

$--hb-text-map: (
  default-primary: $--hb-btn-default-primary-text,
  default-primary-hover: $--hb-btn-default-primary-text-hover,
  default-primary-disabled: $--hb-btn-default-primary-text-disabled,
  default-secondary: $--hb-btn-default-secondary-text,
  default-secondary-hover: $--hb-btn-default-secondary-text-hover,
  default-secondary-disabled: $--hb-btn-default-secondary-text-disabled,
  default-success: $--hb-btn-default-success-text,
  default-success-hover: $--hb-btn-default-success-text-hover,
  default-success-disabled: $--hb-btn-default-success-text-disabled,
  default-warning: $--hb-btn-default-warning-text,
  default-warning-hover: $--hb-btn-default-warning-text-hover,
  default-warning-disabled: $--hb-btn-default-warning-text-disabled,
  default-error: $--hb-btn-default-error-text,
  default-error-hover: $--hb-btn-default-error-text-hover,
  default-error-disabled: $--hb-btn-default-error-text-disabled,
  contained-primary: $--hb-btn-contained-primary-text,
  contained-primary-hover: $--hb-btn-contained-primary-text-hover,
  contained-primary-disabled: $--hb-btn-contained-primary-text-disabled,
  contained-secondary: $--hb-btn-contained-secondary-text,
  contained-secondary-hover: $--hb-btn-contained-secondary-text-hover,
  contained-secondary-disabled: $--hb-btn-contained-secondary-text-disabled,
  contained-success: $--hb-btn-contained-success-text,
  contained-success-hover: $--hb-btn-contained-success-text-hover,
  contained-success-disabled: $--hb-btn-contained-success-text-disabled,
  contained-warning: $--hb-btn-contained-warning-text,
  contained-warning-hover: $--hb-btn-contained-warning-text-hover,
  contained-warning-disabled: $--hb-btn-contained-warning-text-disabled,
  contained-error: $--hb-btn-contained-error-text,
  contained-error-hover: $--hb-btn-contained-error-text-hover,
  contained-error-disabled: $--hb-btn-contained-error-text-disabled,
  outlined-primary: $--hb-btn-outlined-primary-text,
  outlined-primary-hover: $--hb-btn-outlined-primary-text-hover,
  outlined-primary-disabled: $--hb-btn-outlined-primary-text-disabled,
  outlined-secondary: $--hb-btn-outlined-secondary-text,
  outlined-secondary-hover: $--hb-btn-outlined-secondary-text-hover,
  outlined-secondary-disabled: $--hb-btn-outlined-secondary-text-disabled,
  outlined-success: $--hb-btn-outlined-success-text,
  outlined-success-hover: $--hb-btn-outlined-success-text-hover,
  outlined-success-disabled: $--hb-btn-outlined-success-text-disabled,
  outlined-warning: $--hb-btn-outlined-warning-text,
  outlined-warning-hover: $--hb-btn-outlined-warning-text-hover,
  outlined-warning-disabled: $--hb-btn-outlined-warning-text-disabled,
  outlined-error: $--hb-btn-outlined-error-text,
  outlined-error-hover: $--hb-btn-outlined-error-text-hover,
  outlined-error-disabled: $--hb-btn-outlined-error-text-disabled,
);

$--hb-background-color-map: (
  default-primary-hover: $--hb-btn-default-primary-background-hover,
  default-secondary-hover: $--hb-btn-default-secondary-background-hover,
  default-success-hover: $--hb-btn-default-success-background-hover,
  default-warning-hover: $--hb-btn-default-warning-background-hover,
  default-error-hover: $--hb-btn-default-error-background-hover,
  contained-primary: $--hb-btn-contained-primary-background,
  contained-primary-hover: $--hb-btn-contained-primary-background-hover,
  contained-primary-disabled: $--hb-btn-contained-primary-background-disabled,
  contained-secondary: $--hb-btn-contained-secondary-background,
  contained-secondary-hover: $--hb-btn-contained-secondary-background-hover,
  contained-secondary-disabled:
    $--hb-btn-contained-secondary-background-disabled,
  contained-success: $--hb-btn-contained-success-background,
  contained-success-hover: $--hb-btn-contained-success-background-hover,
  contained-success-disabled: $--hb-btn-contained-success-background-disabled,
  contained-warning: $--hb-btn-contained-warning-background,
  contained-warning-hover: $--hb-btn-contained-warning-background-hover,
  contained-warning-disabled: $--hb-btn-contained-warning-background-disabled,
  contained-error: $--hb-btn-contained-error-background,
  contained-error-hover: $--hb-btn-contained-error-background-hover,
  contained-error-disabled: $--hb-btn-contained-error-background-disabled,
);

$--hb-border-map: (
  outlined-primary: $--hb-btn-outlined-primary-border,
  outlined-primary-hover: $--hb-btn-outlined-primary-border-hover,
  outlined-primary-disabled: $--hb-btn-outlined-primary-border-disabled,
  outlined-secondary: $--hb-btn-outlined-secondary-border,
  outlined-secondary-hover: $--hb-btn-outlined-secondary-border-hover,
  outlined-secondary-disabled: $--hb-btn-outlined-secondary-border-disabled,
  outlined-success: $--hb-btn-outlined-success-border,
  outlined-success-hover: $--hb-btn-outlined-success-border-hover,
  outlined-success-disabled: $--hb-btn-outlined-success-border-disabled,
  outlined-warning: $--hb-btn-outlined-warning-border,
  outlined-warning-hover: $--hb-btn-outlined-warning-border-hover,
  outlined-warning-disabled: $--hb-btn-outlined-warning-border-disabled,
  outlined-error: $--hb-btn-outlined-error-border,
  outlined-error-hover: $--hb-btn-outlined-error-border-hover,
  outlined-error-disabled: $--hb-btn-outlined-error-border-disabled,
);
