@import '../../colors/button/button-map.scss';
@import '../ripple-styles.scss';

@mixin idle-styles($variant, $color) {
  @if $variant == 'contained' {
    background-color: map-get(
      $--hb-background-color-map,
      $variant + '-' + $color
    );
  } @else if $variant == 'outlined' {
    border-color: map-get($--hb-border-map, $variant + '-' + $color);
  }
}

@mixin hover-styles($variant, $color) {
  @if $variant != 'outlined' {
    background-color: map-get(
      $--hb-background-color-map,
      $variant + '-' + $color + '-hover'
    );

    @if $variant == 'contained' {
      box-shadow: 0 1px 2px 0 #58585875, 0 1px 3px 1px #58585875;
    }
  } @else {
    border-color: map-get($--hb-border-map, $variant + '-' + $color + '-hover');
  }
}

@mixin disabled-styles($variant, $color) {
  @if $variant == 'contained' {
    background-color: map-get(
      $--hb-background-color-map,
      $variant + '-' + $color + '-disabled'
    );
  } @else if $variant == 'outlined' {
    border-color: map-get(
      $--hb-border-map,
      $variant + '-' + $color + '-disabled'
    );
  }
}

@mixin ripple-styles($variant, $color) {
  @if $variant == 'text' {
    @include ripple(
      map-get($--hb-text-map, $variant + '-' + $color + '-hover')
    );
  } @else if $variant == 'contained' {
    @include ripple(
      map-get($--hb-background-color-map, $variant + '-' + $color + '-hover')
    );
  } @else {
    @include ripple(
      map-get($--hb-border-map, $variant + '-' + $color + '-hover')
    );
  }
}

@mixin common-styles($variant, $color: 'primary') {
  color: map-get($--hb-text-map, $variant + '-' + $color);
  @include idle-styles($variant, $color);

  &-forced-hover,
  &:hover:enabled {
    color: map-get($--hb-text-map, $variant + '-' + $color + '-hover');
    @include hover-styles($variant, $color);
  }

  &:disabled {
    color: map-get($--hb-text-map, $variant + '-' + $color + '-disabled');
    cursor: not-allowed;
    @include disabled-styles($variant, $color);
  }

  &__ripple {
    @include ripple-styles($variant, $color);
  }
}

@mixin color-styles($variant: 'text') {
  &--primary {
    @include common-styles($variant);
  }

  &--secondary {
    @include common-styles($variant, 'secondary');
  }

  &--success {
    @include common-styles($variant, 'success');
  }

  &--warning {
    @include common-styles($variant, 'warning');
  }

  &--error {
    @include common-styles($variant, 'error');
  }
}

@mixin button-variants {
  &__text {
    background: unset;
    @include color-styles;
  }

  &__contained {
    @include color-styles('contained');
  }

  &__outlined {
    background: unset;
    border: 1px solid;
    @include color-styles('outlined');
  }
}
