@import './button-variants-styles.scss';

.Button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  padding: 9px 24px;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  @include button-variant-styles;
}
