.Button {
  background-color: #6200ee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  padding: 9px 24px;
  position: relative;
  transition: background 0.4s;

  &__ripple {
    animation: riple 0.25s linear forwards;
    background-color: rgba(99, 69, 69, 0.7);
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
  }
}

@keyframes riple {
  to {
    opacity: 0;
    transform: scale(4);
  }
}
