@import '../../styles/mixins/ripple-element.scss';

.Button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  padding: 9px 24px;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &__ripple {
    @include ripple;
  }

  &__default {
    background: unset;
  }

  &__contained {
    box-shadow: 0 1px 2px 0 #969696;
  }

  &__outlined {
    background: unset;
  }
}
