@import '../../styles/mixins/ripple-element.scss';

.Button {
  background-color: #6200ee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  padding: 9px 24px;
  position: relative;
  transition: background 0.4s;

  &__ripple {
    @include ripple;
  }
}
