// CHECKBOX - UNCHECKED
$--hb-checkbox-unchecked-border: #ffffff;
$--hb-checkbox-unchecked-background-hover: #7a7a7a30;
$--hb-checkbox-unchecked-background-focus: #7a7a7a60;
$--hb-checkbox-unchecked-border-disabled: #ffffff50;
$--hb-checkbox-unchecked-background-click: #ffffff;

// CHECKBOX - CHECKED
$--hb-checkbox-checked-icon: #1b73e8;
$--hb-checkbox-checked-background-hover: #1b73e825;
$--hb-checkbox-checked-background-focus: #1b73e850;
$--hb-checkbox-checked-icon-disabled: #1b73e850;
$--hb-checkbox-checked-background-click: #5e9ae9;
