$--hb-icon-sizes: (
  'small': 15px,
  'medium': 18px,
  'large': 21px,
);

@mixin icon-wrapper-styles($self) {
  border-radius: 50%;
  pointer-events: none;
  position: relative;

  &--small {
    height: map-get($map: $--hb-icon-sizes, $key: 'small');
    padding: 6px;
    width: map-get($map: $--hb-icon-sizes, $key: 'small');

    & div {
      height: map-get($map: $--hb-icon-sizes, $key: 'medium');
      width: map-get($map: $--hb-icon-sizes, $key: 'medium');
    }

    & svg {
      width: map-get($map: $--hb-icon-sizes, $key: 'small');
    }

    & + #{$self}__label {
      font-size: 14px;
      margin-left: 9px;
    }
  }

  &--medium {
    height: map-get($map: $--hb-icon-sizes, $key: 'medium');
    padding: 9px;
    width: map-get($map: $--hb-icon-sizes, $key: 'medium');

    & div {
      height: map-get($map: $--hb-icon-sizes, $key: 'medium');
      width: map-get($map: $--hb-icon-sizes, $key: 'medium');
    }

    & svg {
      width: map-get($map: $--hb-icon-sizes, $key: 'medium');
    }
  }

  &--large {
    height: map-get($map: $--hb-icon-sizes, $key: 'large');
    padding: 12px;
    width: map-get($map: $--hb-icon-sizes, $key: 'large');

    & div {
      height: map-get($map: $--hb-icon-sizes, $key: 'medium');
      width: map-get($map: $--hb-icon-sizes, $key: 'medium');
    }

    & svg {
      width: map-get($map: $--hb-icon-sizes, $key: 'large');
    }

    & + #{$self}__label {
      font-size: 18px;
      margin-left: 3px;
    }
  }
}
