@mixin ripple($background-color: #ffffff) {
  animation: animation-riple 750ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  background-color: $background-color;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
}

@keyframes animation-riple {
  to {
    opacity: 0;
    transform: scale(4);
  }
}
